<!DOCTYPE html>
{% load static %}
<html lang="eng">
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} Default title{% endblock title %} </title>
        {% block corecss %}
            <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
        {% endblock corecss %}
    </head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Django</li>
        </ul>
    </nav>
{% block content %} {% endblock content %} 

{% block img %} 
<img src="{% static 'core/images/child1.jpg' %}" alt="Django" />
{% endblock img %}

<hr />
<form action="">
    <input type="button" value="Click me" onclick="display()">
</form>
<script src="{% static 'core/js/all.js' %}"></script>

</body>
</html>
